body{
    background-color: whitesmoke;
}

/* les bouttons */
.b{
    background-color: white;
    color: #007bff;
}

.b:hover{
    background-color: #007bff;
    color: white;
}

/* haut de page*/
section{
    height: 100px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
}

.titre{
    margin-top: 20px;
    color: white;
	letter-spacing: 2px;
	font-weight: lighter;
}

/* ajout brassin/mouvement */
.nouveau{
    border-top: 100px;
}

/* affichage modi brassin/mouvement */

.quoiModif{
    margin-top: 100px;
    height: 250px;
    background-color: #007bff;
    text-align: center;
}

#b1{
    background-color: whitesmoke;
    color: #007bff;
    width: 50%;
    position: relative;
    top: 20px;
    border: none;
}

#b1:hover{
    background-color: #007bff;
    color: whitesmoke;
}

